body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.namecolor{
    color: orange;
}
.flexible-container{
display: flex;
margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 95%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/images2/top-banner.png);
    background-repeat: no-repeat;
}
.song{
    background-image: url(images/images2/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/images2/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
margin-left: 5%;
margin-right: 5%;
padding: 20px;
border-radius: 10px;
box-shadow: 10px 10px 40px gray;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}